.App {
  text-align: center;
  flex-direction: row;
  display: flex;
  justify-content: center;
}

.position-letter {
  border: 1px solid grey;
  width: 1rem;
  padding: 1rem;
  margin: 1rem;
  height: 1rem;
}

.letter-selector {
  list-style: none;
  margin: 0 2rem;
  padding: 0;
}

.position-green {
  background: green;
  color: white;
}

.letter {
  padding: 0.5rem;
}

.eliminate-letter-action {
  background: darkgrey;
}

.yellow-letter-action {
  background: yellow;
}

.green-letter-action {
  background: green;
}
