.App {
  text-align: center;
  flex-direction: row;
  display: flex;
  justify-content: center;
}

.position-unknown {
  border: 1px solid grey;
}

.position-letter {
  text-transform: uppercase;
  font-size: 2rem;
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: bold;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  line-height: 2rem;
  width: 62px;
  height: 62px;
}

.letter-selector {
  list-style: none;
  margin: 0 2rem;
  padding: 0;
}

.position-green {
  background: #538d4e;
  color: white;
}

.letter {
  padding: 0.3rem;
  font-weight: bold;
  border: 1px solid grey;
  text-transform: uppercase;
}

.letter-action {
  color: white;
  cursor: pointer;
}

.eliminate-letter-action {
  background: darkgrey;
}

.yellow-letter-action {
  background: #c9b458;
}

.green-letter-action {
  background: #538d4e;
}
